
#content {
    max-width: 1200px;
    margin:auto;
}

#footer {
    font-size: small;
    font-style:italic;
    text-align:center;
}

.row>div {
    margin-bottom:10px;
}

.oneCell {
    padding:1em;
    width:300px;
    text-align:center;
}

.gallaryTable{
    margin: 30px auto;
}

.gallaryTable Caption{
    font-size:200%;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 15px;
}

.assemblyContent{
    background-color: #E6B597;
}

.assemblyDiv{
    background-color: #F6DAC5;
    padding-top: 5px;
}

.checkbox{
    width: 200px !important;
}

#assemblyBtn, #returnBtn, #shipBtn{
    text-align: center;
    display:inline-block;
    margin-left: 150px;
    margin-right: 150px;
    width: 200px;
    line-height: 300%;
    font-weight: bold;
}

.twoBtn{
    width:100%;
    margin:auto;
    text-align: center;
}